<footer class="footer">
    <div class="footer-container">
      <!-- Left Section: Company Information -->
      <div class="footer-section">
        <h4> Aartha</h4>
        <p>&copy; 2024. All Rights Reserved.</p>
        <ul class="social-links">
          <li >
            <a [href]="" target="_blank">name</a>
          </li>
        </ul>
      </div>
  
      <!-- Middle Section: Contact Information -->
      <div class="footer-section">
        <h4>Contact Us</h4>
        <p>Email: <a [href]="">contactInfo.email</a></p>
        <p>Phone: <a [href]="">contactInfo.phone</a></p>
      </div>
  
      <!-- Right Section: Additional Links -->
      <div class="footer-section">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="/about-us">About Us</a></li>
          <li><a href="/terms">Terms & Conditions</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </div>
    </div>
  </footer>
  
