<div class="main">
    <h3>Plastics</h3>
    <div class="container" >
        <div class="card" *ngFor="let item of items">
            <img src="" alt="hai" >
            <h4>{{item.name}}</h4>
            <h5>{{item.location}}</h5>
            <button>contact</button>
        </div>
    </div>
    <h3>steal</h3>
    <div class="container">
        <div class="card" *ngFor="let item of items">
            <img src="" alt="hai" >
            <h4>{{item.name}}</h4>
            <h5>{{item.location}}</h5>
            <button>contact</button>
        </div>
    </div>
    <h3>leather</h3>
    <div class="container">
        <div class="card" *ngFor="let item of items">
            <img src="" alt="hai" >
            <h4>{{item.name}}</h4>
            <h5>{{item.location}}</h5>
            <button>contact</button>
        </div>
    </div>
</div>
