<div class="main" [ngClass]="{'main-next':toggleActive}">
    <!-- <div class="search-bar"> 
        <i  class="bi bi-search"></i>
        <input class="search" type="search" placeholder="Search products" />
        <i id="search" class="bi bi-mic-fill"></i>
    </div> -->
        <div class="search-bar">
            <i class="bi bi-search search-icon"></i>
            <input type="text" class="search-input" placeholder="">
            <i class="bi bi-three-dots-vertical menu-icon"></i>
        </div>
</div>
