.main{
    display: grid;
    place-items: center;
    padding-bottom: 1.3rem;
    position: relative;
}
.search{
    width: 500px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 12px;
    padding-left: 35px;
    z-index: 1;
}
.bi-search{
    position: absolute;
    margin-left: 0.5rem;
    margin-top: 0.9rem;
}
.search-bar{
    display: inline;
    position: relative;
}
#search{
    border: 2px solid white;
    border-radius: 50%;
    padding: 12px 13px;
    background-color: white;
    margin-left: 2px;
}
@media(max-width:400px){
    .main{
        display: none;
    }
    .search{
        width: 250px;
        height: 40px;
        margin-top: 14vh;
        border: 1px solid gray;
        border-radius: 25px;
        padding-left: 20px;
    }
    .bi-search-fill{
        border: 2px solid black;
        padding: 7px 7px;
        border-radius: 50%;
        margin-left: 5px;
    }
}
