<div class="main">
    <div class="logo">
        <h1>ARTHA</h1>
        <img src="" alt="logo" width="200px" height="200px" />
    </div>
        <div class="signin">
            <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChange($event)">
                <mat-tab label="Individual">
                    <div class="login">
                        <h1 class="titleb">Signup</h1>
                        <form [formGroup]="individualForm" (ngSubmit)="onSubmit()">
                        <div class="inputs">
                            <div>
                                <i class="bi bi-person-fill"></i>
                                <input class="input" type="text" formControlName="firstname" placeholder="firstname" />
                                <div *ngIf="individualForm.get('firstname')?.invalid && individualForm.get('firstname')?.touched" class="error">
                                  <small *ngIf="individualForm.get('firstname')?.hasError('required')">username is required</small> 
                                  <small *ngIf="individualForm.get('firstname')?.hasError('pattern')">only letters are allowed</small>
                                </div>
                            </div>
                            <div>
                                <i class="bi bi-person-fill"></i>
                                <input id="adj" class="input" type="text" formControlName="lastname" placeholder="lastname" />
                                <div *ngIf="individualForm.get('lastname')?.invalid && individualForm.get('lastname')?.touched" class="error">
                                   <small *ngIf="individualForm.get('lastname')?.hasError('required')">surname is required</small> 
                                   <small *ngIf="individualForm.get('lastname')?.hasError('pattern')">only letters are allowed</small>
                                </div>
                            </div>
                        </div>
                        <div id="aus" class="inputs">
                            <div>
                                <i class="bi bi-telephone-fill"></i>
                                <input id="uni" class="input" type="text" formControlName="phoneNumber" placeholder="Phone Number" />
                                <button *ngIf="numOtp" class="Signup-btn" (click)="isNumActive()">Get OTP</button><br>
                                <a  *ngIf="!numOtp" id="btn" >resend OTP</a>
                                <div *ngIf="individualForm.get('phoneNumber')?.invalid && individualForm.get('phoneNumber')?.touched" class="error">
                                    <small *ngIf="individualForm.get('phoneNumber')?.hasError('required')">phoneNumber is required</small> 
                                    <small *ngIf="individualForm.get('phoneNumber')?.hasError('pattern')">only Numbers are allowed</small>
                                </div>
                            </div>
                            <div *ngIf="!numOtp">
                                <span ><i class="bi bi-shield-lock-fill"></i><input  id="otpverify" class="input" type="text" placeholder="Enter OTP"  /></span><br>
                                <a  id="btn">verify OTP</a>
                            </div>
                        </div>
                        
                        <div id="aus" class="inputs">
                            <div>
                                <i class="bi bi-envelope-fill"></i>
                                <input id="uni" class="input" type="email" formControlName="email" placeholder="Email" />
                                <button *ngIf="emailOtp" class="Signup-btn" id="" (click)="isEmailactive()">Get OTP</button><br>
                                <a  *ngIf="!emailOtp" id="btn" >resend OTP</a>
                                <div *ngIf="individualForm.get('email')?.invalid && individualForm.get('email')?.touched" class="error">
                                    <small *ngIf="individualForm.get('email')?.hasError('required')">Email is required</small> 
                                    <small *ngIf="individualForm.get('email')?.hasError('email')">must be a valid email</small>
                                </div>
                            </div>
                            <div>
                                <span *ngIf="!emailOtp"><i class="bi bi-shield-lock-fill"></i><input  id="otpverify" class="input" type="text" placeholder="Enter OTP"  /></span><br>
                                <a  *ngIf="!emailOtp" id="btn">verify OTP</a>
                            </div>
                        </div>
                        <div class="inputs">
                            <div> 
                                <i class="bi bi-lock-fill"></i>
                                <input class="input" type="password" formControlName="password" placeholder=" Password" />
                                <div *ngIf="individualForm.get('password')?.invalid && individualForm.get('password')?.touched" class="error">password must be 8 charecters and with the special charecters </div>
                            </div>
                            <div>
                                <i class="bi bi-lock-fill"></i>
                                <input id="adj" class="input" type="password" formControlName="confirmPassword" placeholder="Re-enter Password" />
                                <div *ngIf="individualForm.hasError('mismatch') && individualForm.get('confirmPassword')?.touched" class="error">passwords not matched!</div>
                            </div>
                        </div>
                        <div class="inputs">
                            <div>
                                <i class="bi bi-person-fill"></i>
                                <input class="input" type="text" formControlName="state" placeholder="State" />
                                <div *ngIf="individualForm.get('state')?.invalid && individualForm.get('state')?.touched" class="error">state is required</div>
                            </div>
                            <div>
                                <i class="bi bi-person-fill"></i>
                               <input class="input" type="text" formControlName="city" placeholder="City" />
                               <div *ngIf="individualForm.get('city')?.invalid && individualForm.get('city')?.touched" class="error">city is required</div>
                            </div>
                        </div>
                        <div class="inputs">
                            <div>
                                <i class="bi bi-person-fill"></i>
                                <input class="input" type="text" formControlName="Address1" placeholder="Address Line 1" />
                                <div *ngIf="individualForm.get('Address1')?.invalid && individualForm.get('Address1')?.touched" class="error">Address line 1 is required</div>
                            </div>
                            <i class="bi bi-person-fill"></i>
                            <input class="input" type="text" placeholder="Address Line 2" />
                        </div>
                        <div class="cbox">
                            <h3 class="reg-heading">Register As:</h3>
                            <input class="checkbox" type="checkbox" formControlName="RegisterAs" value="buyer" placeholder="buyer" />
                            <span>BUYER</span>
                            <input class="checkbox" type="checkbox"  formControlName="RegisterAs" value="seller" placeholder="seller"/>
                            <span>SELLER</span>
                            <div *ngIf="individualForm.get('RegisterAs')?.invalid && individualForm.get('RegisterAs')?.touched" class="error">please select the options</div>
                        </div> 
                         <button [disabled]="individualForm.invalid" class="Signup-btn" routerLink="/rate-updation" >Signup</button>
                    </form>
                    </div>
                </mat-tab>
                <mat-tab label="Company">
                    <div class="login">
                        <h1 class="titleb">Signup</h1>
                        <form [formGroup]="companyForm">
                        <div class="inputs">
                            <div>
                                <i class="bi bi-person-fill"></i>
                                <input class="input" type="text" formControlName="firstname" placeholder="firstname" />
                                <div *ngIf="companyForm.get('firstname')?.invalid && companyForm.get('firstname')?.touched" class="error">
                                  <small *ngIf="companyForm.get('firstname')?.hasError('required')">username is required</small> 
                                  <small *ngIf="companyForm.get('firstname')?.hasError('pattern')">only letters are allowed</small>
                                </div>
                            </div>
                            <div>
                                <i class="bi bi-person-fill"></i>
                                <input id="adj" class="input" type="text" formControlName="lastname" placeholder="lastname" />
                                <div *ngIf="companyForm.get('lastname')?.invalid && companyForm.get('lastname')?.touched" class="error">
                                   <small *ngIf="companyForm.get('lastname')?.hasError('required')">surname is required</small> 
                                   <small *ngIf="companyForm.get('lastname')?.hasError('pattern')">only letters are allowed</small>
                                </div>
                            </div>
                        </div>
                        <div id="aus" class="inputs">
                            <div>
                                <i class="bi bi-telephone-fill"></i>
                                <input id="uni" class="input" type="text" formControlName="phoneNumber" placeholder="Phone Number" />
                                <button *ngIf="numOtp" class="Signup-btn" (click)="isNumActive()">Get OTP</button><br>
                                <a  *ngIf="!numOtp" id="btn" >resend OTP</a>
                                <div *ngIf="companyForm.get('phoneNumber')?.invalid && companyForm.get('phoneNumber')?.touched" class="error">
                                    <small *ngIf="companyForm.get('phoneNumber')?.hasError('required')">phoneNumber is required</small> 
                                    <small *ngIf="companyForm.get('phoneNumber')?.hasError('pattern')">only Numbers are allowed</small>
                                </div>
                            </div>
                            <div *ngIf="!numOtp">
                                <span ><i class="bi bi-shield-lock-fill"></i><input  id="otpverify" class="input" type="text" placeholder="Enter OTP"  /></span><br>
                                <a  id="btn">verify OTP</a>
                            </div>
                        </div>
                        
                        <div id="aus" class="inputs">
                            <div>
                                <i class="bi bi-envelope-fill"></i>
                                <input id="uni" class="input" type="email" formControlName="email" placeholder="Email" />
                                <button *ngIf="emailOtp" class="Signup-btn" id="" (click)="isEmailactive()">Get OTP</button><br>
                                <a  *ngIf="!emailOtp" id="btn" >resend OTP</a>
                                <div *ngIf="companyForm.get('email')?.invalid && companyForm.get('email')?.touched" class="error">
                                    <small *ngIf="companyForm.get('email')?.hasError('required')">Email is required</small> 
                                    <small *ngIf="companyForm.get('email')?.hasError('email')">must be a valid email</small>
                                </div>
                            </div>
                            <div>
                                <span *ngIf="!emailOtp"><i class="bi bi-shield-lock-fill"></i><input  id="otpverify" class="input" type="text" placeholder="Enter OTP"  /></span><br>
                                <a  *ngIf="!emailOtp" id="btn">verify OTP</a>
                            </div>
                        </div>
                        <div class="inputs">
                            <div> 
                                <i class="bi bi-lock-fill"></i>
                                <input class="input" type="password" formControlName="password" placeholder=" Password" />
                                <div *ngIf="companyForm.get('password')?.invalid && companyForm.get('password')?.touched" class="error">password must be 8 charecters and with the special charecters </div>
                            </div>
                            <div>
                                <i class="bi bi-lock-fill"></i>
                                <input id="adj" class="input" type="password" formControlName="confirmPassword" placeholder="Re-enter Password" />
                                <div *ngIf="companyForm.hasError('mismatch') && companyForm.get('confirmPassword')?.touched" class="error">passwords not matched!</div>
                            </div>
                        </div>
                        <div class="cbox">
                            <h3 class="reg-heading">Register As:</h3>
                            <input class="checkbox" type="checkbox" placeholder="buyer" />
                            <span>BUYER</span>
                            <input class="checkbox" type="checkbox" placeholder="seller"/>
                            <span>SELLER</span>
                        </div> 
                        <button [disabled]="companyForm.invalid" class="Signup-btn">Signup</button> 
                        </form>
                    </div>
                </mat-tab>
            </mat-tab-group>    
        </div>
         
</div>