<!-- <app-header></app-header>
<app-navbar ></app-navbar>
<app-popup></app-popup> -->
<div class="main" [ngClass]="{'Main-next':toggleActive}">
    <div class="Sub1">
        <div class="sub1">
            <i class="bi bi-person-circle"></i>
            <div>
                <p class="name">koti</p>
                <p><i class="bi bi-geo-alt"></i>location</p>
            </div>
        </div>
        <div class="sub2">
            <i class="bi bi-calendar-check"></i>
            <div>
                <p>member since</p>
                <p>date</p>
            </div>
        </div>
        <div class="sub3">
            <i class="bi bi-star"></i>
            <p>rating</p>
        </div>
    </div>
    <div class="Sub2">
        <div class="heading">
            <p>Contact information</p>
            <div>
                <i class="bi bi-pencil-fill"></i>
                <span>Edit</span>
            </div>
        </div><hr>
        <div class="sub-1">
            <div class="subchild-1">
                <i class="bi bi-phone"></i>
                <div>
                    <p>Primary Mobile</p>
                    <p>7675036261</p>
                </div>
            </div>
            <div class="subchild-2">
                <i class="bi bi-phone"></i>
                <div>
                    <p>Alternate Mobile</p>
                    <p>--</p>
                </div>
            </div>
        </div>
        <div class="sub-2">
            <div class="subchild-1">
                <i class="bi bi-envelope-check"></i>
                <div>
                    <p>Primary Email</p>
                    <p>--</p>
                </div>
            </div>
            <div class="subchild-2">
                <i class="bi bi-envelope-arrow-up"></i>
                <div>
                    <p>Alternate Email</p>
                    <p>--</p>
                </div>
            </div>
        </div>
        <div class="sub-3">
            <div class="subchild-3">
                <i class="bi bi-geo-alt-fill"></i>
                <div>
                    <p>Address</p>
                    <p>--</p>
                </div>
            </div>
        </div>
    </div>
    <div class="Sub2">
        <div class="heading">
            <p>Company information</p>
            <div>
                <i class="bi bi-pencil-fill"></i>
                <span>Edit</span>
            </div>
        </div><hr>
        <div class="sub-1">
            <div class="subchild-1">
                <i class="bi bi-buildings"></i>
                <div>
                    <p>Comapny Name</p>
                    <p>--</p>
                </div>
            </div>
            <div class="subchild-2">
                <i class="bi bi-globe2"></i>
                <div>
                    <p>Company website</p>
                    <p>--</p>
                </div>
            </div>
        </div>
        <div class="sub-2">
            <div class="subchild-1">
                <i class="bi bi-file-text"></i>
                <div>
                    <p>GSTIN</p>
                    <p>--</p>
                </div>
            </div>
            <div class="subchild-2">
                <i class="bi bi-credit-card-2-front"></i>
                <div>
                    <p>PAN</p>
                    <p>--</p>
                </div>
            </div>
        </div>
    </div>
</div>
