<!-- <app-header></app-header>
<app-navbar ></app-navbar>
<app-popup></app-popup>  -->
<h1>Market Board</h1>
<div class="inputs" [ngClass]="{'Inputs':toggleActive}">
    <div>
        <input class="search" type="text" placeholder="search for products" />
        <i id="search" class="bi bi-search"></i>
    </div>
    <div class="location">
        <input *ngIf="Isvisibule" class="location" type="text" placeholder="location" />
        <div>
            <i *ngIf="!Isvisibule" class="bi bi-geo-alt-fill" (click)="display()"></i>
            <p *ngIf="!Isvisibule">location</p>
        </div>
    </div>
</div>
<div class="content" [ngClass]="{'Inputs':toggleActive}">
    <div class="headings">
        <p>Listed Products</p>
        <p>Avg.Price in Location</p>
    </div>
    <div class="data">
        <p>product name </p>
        <p>price</p>
    </div>
    <div class="data">
        <p>product name/ jai balaya</p>
        <p>price</p>
    </div>
</div>
