.main{
    padding-top: 21vh;
}
h1 {
    text-align: center;
    font-size: 30px;
    color: #333;
    margin: 20px 0;
    font-family:'Roboto', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 0rem 1rem;
}

.inputs {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    transition:0.4s ease-in-out;
}

.inputs div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.search {
    width: 30rem;
    padding: 12px 40px 12px 20px;
    margin-left: 2rem;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 25px; 
    outline: none;
    max-width: 350px; 
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
}

.search:focus {
    border-color: #4CAF50; 
    box-shadow: 0 0 5px rgba(72, 155, 87, 0.5);
    transition:0.4s ease-in-out;
}

#search {
    margin-left: 15px;
    font-size: 18px;
    color: #888;
    cursor: pointer;
}
#search:hover {
    color: #4CAF50; 
}

.location {
    display: flex;
    align-items: center;
    margin-left: 3rem;
}

.location input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 180px;
    margin-right: 10px;
}

.bi-geo-alt-fill {
    font-size: 20px;
    cursor: pointer;
    color: #4CAF50;
}

.location p {
    font-size: 16px;
    color: #4CAF50;
    margin: 0;
    cursor: pointer;
}

 .content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition:0.4s ease-in-out;
} 
.Inputs{
    margin-left:19%;
    transition:0.4s ease-in-out;
}

.headings {
    display: flex;
    justify-content: space-between;
    padding: 0rem 3rem;
    background-color: #D0F5F8;
    font-family:'Roboto', sans-serif
}

.headings p {
    font-size: 18px;
    font-weight: bold;
    color: #2C3E50; 
}

.details {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-family:'Roboto', sans-serif
}
.details img{
    width: 220px;
    height: 200px;
    background-color: silver;
}
.avg{
    margin-right: 4rem;
}
.data p {
    font-size: 16px;
    color: #212121;
    font-weight: 900px;
}
.info{
    font-weight: 400px;
    color: rgb(114, 114, 114);
}
.data p:hover {
    color: #040404;
}
.location p:hover {
    color: #388E3C;
}

/* Responsive design adjustments */

@media (max-width: 768px) {
    .inputs {
        flex-direction: column;
        align-items: center;
    }

    .search, .location input {
        width: 90%;
        margin-bottom: 10px;
    }

    .headings p {
        font-size: 16px;
    }

    .data p {
        font-size: 14px;
    }
}
  
  
  
